html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#top-bar {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding: 10px 0;
    pointer-events: none;
    user-select: none;
}

#wave-info, #money-info, #health-info {
    font-size: 24px;
    font-weight: bold;
}

#money-info.insufficient-funds {
    color: red;
}

#insufficient-funds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    pointer-events: none;
    user-select: none;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#game-canvas {
    width: 100%;
    margin-top: 50px;
    background-color: #1e1e1e;
    display: block;
}

#bottom-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    box-sizing: border-box;
    height: 140px;
    z-index: 10;
}

#tower-menu {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 10px;
}

.tower-option {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.tower-option:hover {
    background-color: #555;
    transform: scale(1.1);
}

#phase-button {
    background-color: #33691d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#phase-button:hover {
    background-color: #419121;
    transform: scale(1.1);
}

#start-game-button {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px 40px;
    background-color: #28a745; 
    color: white; 
    border: none; 
    border-radius: 8px;
    cursor: pointer; 
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

#start-game-button:hover {
    background-color: #218838;
    transform: translate(-50%, -50%) scale(1.05);
}

#warning-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 50px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

#warning-message p {
    margin: 0;
    padding: 0;
}

#tower-stats-panel {
    position: fixed;
    bottom: 150px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 5;
    pointer-events: none;
    user-select: none;
}

#tower-stats-panel h3, #tower-stats-panel p {
    margin: 5px 0;
}
